@inherits LayoutComponentBase

<PageTitle>Developer Metrics Tool</PageTitle>

<div class="container-fluid page">
    <main class="container">
        <NavMenu />
        <article class="content p-4 mt-3 bg-light shadow-sm rounded">
            @Body
        </article>
    </main>
</div>
