@page "/dashboard"
@using DeveloperDashboardClient.DataServices;


<h3>Dashboard</h3>

<button type="button" @onclick=GetAllData>Get Data</button>

<table class="table">
    <thead>
        <tr>
            <th>Project #</th>
            <th>Branch #</th>
            <th>PR #</th>
           
        </tr>
    </thead>
    <tbody>
        @if (dashboardVMs is not null)
        {
            @foreach (var dashboard in dashboardVMs)
            {
                <tr>
                    <td>@dashboard.Project</td>
                    <td>@dashboard.BranchName</td>
                    <td>@dashboard.TotalPR</td>

                </tr>
            }

        }
    </tbody>
</table>


@code {

   
    

}
