@page "/repoinfo"
@using ChartJs.Blazor;
@using ChartJs.Blazor.Common;
@using ChartJs.Blazor.PieChart;
@using ChartJs.Blazor.Util;

<section class="my-4">

    <section class="d-flex flex-row align-items-center justify-content-between">
        <div>
            <label for="StackName" class="form-label">Stack Name: <span class="px-2 fw-bolder fs-6">Ifarm</span> </label>
        </div>
        <div>
            <label for="Branch" class="form-label">Branch: <span class="px-2 fw-bolder fs-6">Master</span> </label>
        </div>
        <div>
            <label for="NoOfBranches" class="form-label">No of Branches: <span class="px-2 fw-bolder fs-6">4</span> </label>
        </div>
    </section>

    <div class="d-flex flex-row align-items-center justify-content-around">
        <div class="flex-fill border rounded my-5 p-4 shadow mx-3 justify-content-center align-items-center chart-container-size">
            @*<h6 class="h6 fw-bolder fs-5">Branch Details</h6>*@
            @*<p>Number of Active Branch: <span>1</span></p>
            <p>Number of InActive Branch: <span>1</span></p>
            <p>Total Open Pull Requests: <span>1</span></p>
            <p>Total Closed Pull Requests: <span>1</span></p>*@

            <div class="mt-3">
                <Chart Config="_branchConfig">
                </Chart>
            </div>


        </div>
        <div class="flex-fill border rounded my-5 p-4 shadow mx-3 justify-content-center align-items-center chart-container-size">
            @*<h6 class="h6 fw-bolder fs-5">Test Coverage</h6>
            <p>Branch Coverage: <span>1</span></p>
            <p>Line Coverage: <span>1</span></p>*@
            <div class="mt-3">
                <Chart Config="_prConfig"></Chart>
            </div>
        </div>
        @* <div class=" border rounded my-5 p-4 shadow mx-3 card-size" style="width:22rem; height: 17rem;">
        <h6 class="h6 fw-bolder fs-5">Deployment</h6>
        </div>*@
    </div>
    <div class="d-flex flex-row align-items-center justify-content-around">
        <div class="flex-fill border rounded my-3 p-4 shadow mx-3 justify-content-center align-items-center chart-container-size">
            <h6 class="h6 fw-bolder fs-5">Code Coverage (Line Coverage)</h6>
            @*alskjasdf*@
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 my-3 my-lg-12">
                        <RadzenRadialGauge Style="width: 100%; height: 300px;">
                            <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step="20" Min="0" Max="260" TickPosition=@tickPosition>
                                <RadzenRadialGaugeScalePointer Value=@value Length="0.6" ShowValue=@showValue>
                                    <Template Context="pointer">
                                        @* <h4>
                                        @pointer.Value <sup>km/h</sup>
                                        </h4>*@
                                    </Template>
                                </RadzenRadialGaugeScalePointer>
                                <RadzenRadialGaugeScaleRange From="0" To="90" Fill="green" />
                                <RadzenRadialGaugeScaleRange From="90" To="140" Fill="orange" />
                                <RadzenRadialGaugeScaleRange From="140" To="260" Fill="red" />
                            </RadzenRadialGaugeScale>
                        </RadzenRadialGauge>
                    </div>
                </div>
            </div>
            @*askdjfkajsdfkjdsaf*@
        </div>
        <div class="flex-fill border rounded my-3 p-4 shadow mx-3 justify-content-center align-items-center chart-container-size">
            <h6 class="h6 fw-bolder fs-5">Deployment Details</h6>
            <small class="text-light ">Only last 3 deployment details.</small>
            <table class="table grid-design">
                <thead>
                    <tr>
                        <th>Branch Name</th>
                        <th>Deployed Date</th>
                        <th>Deployed By</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Master</td>
                        <td>12/12/2023</td>
                        <td>Gopi</td>
                        <td>Success</td>
                    </tr>
                    <tr>
                        <td>UI-change</td>
                        <td>12/12/2023</td>
                        <td>Ramesh</td>
                        <td>Success</td>
                    </tr>
                    <tr>
                        <td>Backend Change</td>
                        <td>12/12/2023</td>
                        <td>Jhansi</td>
                        <td>Failure</td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*<div class=" border rounded my-5 p-4 shadow mx-3 card-size" style="width:22rem; height: 17rem;">
        <h6 class="h6 fw-bolder fs-5">Release Management</h6>
        </div>*@
    </div>
</section>


@code {
    private PieConfig _branchConfig;
    private PieConfig _prConfig;
    bool showValue = true;
    double value = 100;
    GaugeTickPosition tickPosition;
    IEnumerable<GaugeTickPosition> tickPositions;

    protected override void OnInitialized()
    {
        tickPositions = Enum.GetValues(typeof(GaugeTickPosition)).Cast<GaugeTickPosition>();
        tickPosition = GaugeTickPosition.Inside;

        #region "Branch Config"
        _branchConfig = new PieConfig
            {
                Options = new PieOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = true,
                        Text = "Branch Details"
                    }
                }
            };

        foreach (string color in new[] { "Active Branch", "InActive Branch" })
        {
            _branchConfig.Data.Labels.Add(color);
        }

        PieDataset<int> dataset = new PieDataset<int>(new[] { 6, 5 })
            {
                BackgroundColor = new[]
                                                                            {
            ColorUtil.ColorHexString(13, 71, 167), // Slice 1 aka "Red"
            ColorUtil.ColorHexString(77, 190, 206), // Slice 2 aka "Yellow"
            //ColorUtil.ColorHexString(75, 192, 192), // Slice 3 aka "Green"
            //ColorUtil.ColorHexString(54, 162, 235), // Slice 4 aka "Blue"
        }
            };

        _branchConfig.Data.Datasets.Add(dataset);
        #endregion

        #region "PR Config"
        _prConfig = new PieConfig
            {
                Options = new PieOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = true,
                        Text = "Pull Request Details"
                    }
                }
            };

        foreach (string color in new[] { "Open PR's", "Closed PR's" })
        {
            _prConfig.Data.Labels.Add(color);
        }

        PieDataset<int> data = new PieDataset<int>(new[] { 3, 7 })
            {
                BackgroundColor = new[]
                                                                                {
            ColorUtil.ColorHexString(249, 176, 65), // Slice 1 aka "orange"
            ColorUtil.ColorHexString(91, 198, 35), // Slice 2 aka "green"
            //ColorUtil.ColorHexString(75, 192, 192), // Slice 3 aka "Green"
            //ColorUtil.ColorHexString(54, 162, 235), // Slice 4 aka "Blue"
        }
            };

        _prConfig.Data.Datasets.Add(data);
        #endregion


    }
}
